data/*
!data/.gitkeep
*.mv.db
*.trace.db
target/
.mvn/wrapper/maven-wrapper.jar
build/
.idea/
*.iml
*.iws
*.ipr
out/
.vscode/
.settings/
.classpath
.project
.factorypath
.springBeans
.apt_generated
.sts4-cache
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
.DS_Store
Thumbs.db
HELP.md